<%- include("./partials/header.ejs") %>
        <h1>Survey Form</h1>
        <form action="/submit">
             <!--
            When a form submitted, a HTTP request is made by the browser
            to the URL in the "action" attribute with the data from
            input fields of the form. If an "action" attribute is not given,
            the default URL is the current URL. The default HTTP VERB is GET
            and can be changed to POST using the "method" attribute.
            -->
            <div>
                <label for="fullName">What is your name?</label>
                <input type="text" id="fullName" name="fullName">
            </div>
            <div>
                <label for="favouriteColour">What is your favourite colour?</label>
                <input type="text" id="favouriteColour" name="favouriteColour">
            </div>
            <div>
                <label for="message">What is on your mind?</label>
                <textarea name="message" id="message" cols="60" rows="5"></textarea>
            </div>
            <div>
                <label for="weekDays">What is your favourite day of the week?</label>
                <br/>
                <% const days = [
                    "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
                ] %>

                <% for (let option of days) { %>
                    <input type="radio" name="favouriteDay" id="<% option %>" value="<%- option %>" />
                    <label for="<% option %>">"<%- option %>"</label>
                    </br>
                <% } %>
            </div>
            <input type="submit" value="Send">
        </form>
<%- include("./partials/footer.ejs") %>  

