<%- include("./partials/header.ejs") %>
    <h1><%- title %></h1>

    <% for (let meme of memes) { %>
        <div class="container">
            <img src="<%- meme %>" alt="meme">
        </div>
    <% } %>

    <%# # is for comments %>
    <%# - is for displaying and will include html styling %>
    <%# = is for displaying without html styling %> 
    <%# empty is for running JS code you don't want to display on the browser%>
<%- include("./partials/footer.ejs") %>




