<h1>User Profile</h1>
<h3>User name: <%= @user.full_name %></h3>
<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
//This is to create the map and copied from: https://github.com/apneadiving/Google-Maps-for-Rails
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
        {
        "lat": <%= @user.latitude %>, 
        "lng": <%= @user.longitude %>,  
        "picture": {
            "width":  32,
            "height": 32
        },
        "infowindow": "<%= @user.full_name %>'s location."
        }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17); //we are adding this to zoom in a bit
});
</script>

