<h1>Hello World</h1>

<%# this is an erb tag comment %>
<%# you use the = if you want it displayed %>
<%# the - does not work like ejs %>
<%# empty means you are using the code but not displaying it %>



