<%- include('../partials/header') %>

<h1>Chatr</h1>

<form id="new-message">
  <textarea name="body" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<ul id="messages"></ul>

<%- include('../partials/footer') %>
