<% if @tag.present? %>
    <h2>Showing Questions tagged by:
        <span class="badge rounded-pill bg-primary"><%= @tag.name %></span> 
    </h2>
<% end %>
<div>
    <% @questions.each do |question| %>
    <div>
        <h2><%= link_to question.title, question %></h2>
        <%#             older syntax -> question_path(question) %>
        <hr/>
    </div>
    <% end %>
</div>



