<h1>Questions Index Page</h1>
<p>I am found in the questions#index controller actions</p>
<p>This will be my route: get('/questions', to: 'questions#index', as: :questions_index)</p>

<h1> All Questions </h1>
<%= render 'list' %>

