<h1>Liked Questions</h1>

<% if @questions.present? %>
    <% @questions.each do |question| %>
    <div>
        <h3> <%= link_to question.title, question_path(question)%> </h3>
    </div>
    <% end %>
<% else %>
    <h3>There are no liked questions.</h3>
<% end %>
