<div class="form-group">
  <input
    type="text"
    class="form-control"
    name="title"
    placeholder="What is your post about?"
    value="<%= post ? post.title : '' %>"
  />
</div>
<div class="form-group">
  <input
    type="url"
    class="form-control"
    name="image_url"
    placeholder="e.g. http://image.com/myPic.png"
    value="<%= post ? post.image_url : '' %>"
  />
</div>
<div class="form-group">
  <textarea
    name="content"
    placeholder="What are your thoughts?"
    cols="30"
    rows="10"
  ><%- post ? post.content : '' %></textarea>
</div>
