<div class="form-group">
  <input
    type="text"
    class="form-control"
    name="title"
    placeholder="What needs to be done?"
    value="<%= todo ? todo.title : '' %>"
  />
</div>
<div class="form-group">
  <input
    type="url"
    class="form-control"
    name="imageUrl"
    placeholder="e.g. http://image.com/myPic.jpg"
    value="<%= todo ? todo.imageUrl : '' %>"
  />
</div>
<div class="form-group">
  <textarea name="content" cols="15" rows="5" placeholder="How do we do this?">
<%= todo ? todo.content : '' %></textarea
  >
</div>


